/* Copyright (C) 2020-2024 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #101010;
    background-alt: #262A32;
    foreground:     #abb2bf;
    foreground-alt: #dcdfe4;
    selected:       #b101b1;
    active:         #1c6b2b;
    urgent:         #e06c75;
    border:         #c678dd;
}
